<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
    <add key="DSNDB" value="" />
    <add key="PROVIDERTYPE" value="MSSqlClient"/>
    <add key="DDay.Update.Uri" value="http://www.bizagi.com/modelerupdate/install/BizAgiProcessModeler.application"/>
    <add key="Culture" value="en"/>
    <add key="SkipUpdate" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
	<system.diagnostics>
		<switches>
			<add name="TraceLevelSwitch" value="1"/>
		</switches>
		<trace autoflush="false" indentsize="1">
			<listeners>
				<remove name="Default"/>
				<add name="BPM-Xml-Listener" initializeData="C:\BizAgiProcessModelerlog.xml" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="ProcessId,DateTime"/>
			</listeners>
		</trace>
	</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
